<!--公共模版nav-->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="index">My Blog</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							<a href="http://localhost/mws/public/index.php/index/index/home">open My Blog</a>
						</li>
						<li>
							<a href="">clear cache</a>
						</li>
						<li role="separator" class="divider"></li>
						<li>
							<a href="http://localhost/mws/public/index.php/admin/index/login">login out</a>
						</li>
					</ul>
				</li>
			</ul>
			<form class="navbar-form navbar-right">
				<input type="text" class="form-control" placeholder="Search...">
			</form>
		</div>
	</div>
</nav>