<div style="margin-top: 50px;height: 100%;">
	<div style="width:10%; height: 900px; overflow: hidden; float: left;background-color:#EEEEEE;">
		<div style="height:50px;font-size:25px;text-align:center;background-color:#003350;">
			<p style="color: #FFFFFF;">Data</p>
		</div>
		<div style="height:50px;font-size:25px;text-align:center;background-color:#003350;">
			<a style="color: #FFFFFF;" href="Home">Home</a>
		</div>
		<div style="height:50px;font-size:25px;text-align:center;background-color:#003350;">
			<a style="color:#FFFFFF;" href="Anime">Anime</a>
		</div>
		<div style="height:50px;font-size:25px;text-align:center;background-color:#003350;">
			<a style="color:#FFFFFF;" href="Music">Music</a>
		</div>
		<div style="height:50px;font-size:25px;text-align:center;background-color:#003350;">
			<a style="color:#FFFFFF;" href="Game">Game</a>
		</div>
		<div style="height:50px;font-size:25px;text-align:center;background-color:#003350;">
			<a style="color:#FFFFFF;" href="Vidio">Vidio</a>
		</div>
		<div style="height:50px;font-size:25px;text-align:center;background-color:#003350;">
			<a style="color:#FFFFFF;" href="Cool">Cool</a>
		</div>
	</div>
	<div style="width:90%; float: right;border:5px solid white;">
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th><input class="check-all" type="checkbox"></th>
					<th>ID</th>
					<th>Group</th>
					<th>Header</th>
					<th>Context</th>
					<th>Detail</th>
					<th>Imgpath</th>
					<th>Linkhref</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>				
			</tbody>
		</table>
	</div>
</div>
