{volist name="list" id="vo"}
<block>
	<div class="container" style="margin-top: 100px;">
		
		<h style=" font-family: '微软雅黑'; font-size: 35px;color: #0088FF; text-shadow: 3px 3px 3px #FFE4E4; font-weight: 100px;margin-left: 155px;">{$vo.header}</h>
		<p style="color: #FFFFFF; font-size: 25px; text-shadow: 1px 1px 1px #FFE4E4; margin-left: 160px;width: 800px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$vo.detail}</p>
		<h1 style="font-family: '微软雅黑'; font-size: 35px;color: #0088FF; text-shadow: 3px 3px 3px #FFE4E4; font-weight: 100px;margin-left: 155px;">Download Address:</h1>
		<a style="color: #FFFFFF; font-size: 25px; text-shadow: 1px 1px 1px #FFE4E4; margin-left: 155px;" href="{$vo.linkhref}">{$vo.link}</a>
	</div>
</block>
{/volist}

<form action="comment" method="get">
	<div class="container" style="margin-top: 50px;width: 780px;height: 300px;">
		<textarea type="text" style="width:780px ;height: 150px; font-size: 25px;" id="comment"> </textarea>
		<button style="width:80px; height: 40px;font-size: 15px;" class="btn btn-default" type="submit" name="post">Post</button>
	</div>
</form>

<div style="font-family: '微软雅黑'; font-size: 35px;color: #0088FF; text-shadow: 3px 3px 3px #FFE4E4; font-weight: 100px;margin-left: 530px;">
	<p>Lastest Comments:</p>
</div>

<div class="container" style="margin-top: 50px;width: 780px; margin-bottom: 300px;">
	{volist name="comment" id="co"}
	<div class="container" style="width: 780px;">		
		<h1 style="float:left ;font-family: '微软雅黑'; font-size: 25px;color: #0088FF; text-shadow: 3px 3px 3px #FFE4E4; font-weight: 100px;">{$co.username}:</h1>		
		<h1 style="float: right; font-family:arial; font-size: 15px;color: #0088FF; text-shadow: 3px 3px 3px #FFE4E4; font-weight: 100px;">post by {$co.date}</h1>				
	</div>
	<div class="container" style="width: 780px;">
		<p style="color: #FFFFFF; font-size: 20px; text-shadow: 1px 1px 1px #FFE4E4;">{$co.comment}</p>
	</div>
	<br /> {/volist}
</div>