<!--	<body style="background-image: url(../../../../public/static/img/home/home-2.jpg); background-repeat: no-repeat; background-attachment:fixed;">




<!--<div class="container" style="width: 1000px;margin-top: 100px;background-color: white;">
	{volist name="list" id="vo"}
	<block id="{$vo.id}">
		<div class="container" style="width: 1000px; height: 300px; background-color: white;">
			<div style="width: 780px; height: 60px;">
				<div style="float:left; font-family: '微软雅黑'; font-size: 35px; color: #0088FF; text-shadow: 3px 3px 3px #FFE4E4; font-weight: 100px;">
					<a  href="detail?id={$vo.id}">{$vo.header}</a>
				</div>
				<div style="float:right; font-size: 25px; color: #FFFFFF; text-shadow: 1px 1px 1px #FFE4E4;">
					<p style="">{$vo.clickcount}&nbsp;&nbsp;click</p>
				</div>
			</div>
			<div>
				<div style="float:left; color: #FFFFFF; font-size: 25px; text-shadow: 1px 1px 1px #FFE4E4;">
					<p>{$vo.context}</p>
				</div>
				<div style="float:right; color: #FFFFFF; font-size: 25px; text-shadow: 1px 1px 1px #FFE4E4;">
					<p style="">{$vo.createtime}</p>
				</div>
			</div>
		</div>
	</block>
	{/volist}
</div>-->
	
	<!--<nav class="navbar navbar-inverse navbar-fixed-top ">
	<div class="container">
		<div class="navbar-header" style="margin-left: 90px;">
			<a class="navbar-brand">MWS</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li  style="margin-left: 30px;">
					<a href="home">Home</a>
				</li>
				<li >
					<a href="html5">HTML5</a>
				</li>
				<li >
					<a href="css">CSS</a>
				</li>
				<li >
					<a href="javascript">Javascript</a>
				</li>
				<li >
					<a href="php">PHP</a>
				</li>
				<li >
					<a href="mysql">Mysql</a>
				</li>
				<li >
					<a href="other">. . .</a>
				</li>
				<form class="navbar-form navbar-left" role="search" style="margin:0;margin-left: 70px;" method="get" action="Search">
					<input type="text" class="form-control" placeholder="Search" name="navbartext">
					<button type="submit" class="btn btn-default navbar-btn">Submit</button>
				</form>
				<li>
					<a href="sign_in">Sign in</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="footer container" style=" text-align: center;margin-bottom: 0px;">
	<!--<p>免责申明：本站基于互联网自由分享，所有资源均来自互联网，分享于互联网，本站服务器未保存任何影视、音乐、游戏等资源或文件，且本站并不属于bt种子的提供者、制作者、所有者，因此本站不承担任何法律责任！ 若有相关资源涉及您的版权或知识产权或其他利益，请及时联系我们：1216684366@qq.com，确认后，我们会尽快删除。
	</p>
	<a href="Index.html">Copyright@2017 MWS </a>
</div>


-->
