<form action="Check" method="post" id="form">
	<div style="width:400px height:40px ;  margin: 200px 38% 0 38%;">
		<div class="input-group">
			<span class="input-group-addon" style="width: 100px;height: 30px; font-size: 15px;">Username</span>
			<input name="username" type="text" style="width: 300px;height: 40px; font-size: 15px;">
		</div>
		<br>
		<div class="input-group">
			<span class="input-group-addon" style="width: 100px;height: 30px; font-size: 15px;">Password&nbsp;</span>
			<input name="password" type="password" style="width: 300px;height: 40px;font-size: 15px;">
		</div>
		<br>
		<br>
		<br>
		<button style="width:400px; height: 40px;font-size: 15px;" class="btn btn-default" type="submit">Sign up</button>
		<br>
	</div>
</form>
		