<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link href="../../../../img/MWSLogo.ico" rel="shortcut icon">
		<link rel="stylesheet" href="../../../../public/static/css/bootstrap.min.css">
		<title>MWS</title>
	</head>

	<body style="background-image: url(../../../../public/static/img/home/home-2.jpg); background-repeat: no-repeat; background-attachment:fixed; padding-bottom: 0px;">
		{include file="unit:header" /}
		{include file="unit:sign_in" /}
		{include file="unit:footer2" /}		
		<script src="../../../../public/static/js/bootstrap.min.js "></script>
		<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js "></script>
	</body>
</html>